:root {
    --color-blue: #0072DB;
    --color-yelow: #FF9900
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

.blue {
    color: #3E45E8;
}

.yelow {
    color: #E8C23E;
}

.title {
    font-weight: 400;
    font-size: 3rem;
    line-height: 69px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;

}

.banner {
    height: 766px;
    width: 100%;
    background-image: url(../images/fon.svg);
    display: flex;

}

.flag-img {
    padding-top: 236px;
    padding-bottom: 236px;
    padding-left: 80px;
}

.text {
    font-weight: 700;
    font-size: 3rem;
    line-height: 76px;
    color: #FFFFFF;
    padding-top: 169px;
    padding-left: 38px;
}

.subtitle-cards {
    text-indent: 4rem;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 63px;
    margin-bottom: 5px;

}

.flag-gradient {
    height: 15px;
    width: 780px;
    background: linear-gradient(to right, #00E0FF 0%, #1400FF 50%, #FFA800 0%, #FFF500 100%);
}

.container {
    min-width: 992px;
    max-width: 1440px;
    margin: 42px
}

.card {
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F;
    min-height: 481px;
    vertical-align: top;
    border-radius: 34px;

}

.shadow1 {
    box-shadow: -14px 14px 21px 0px;
    color: #349af9;
}

.shadow2 {
    box-shadow: 0px 14px 21px 0px;
    color: #349af9;

}

.shadow3 {
    box-shadow: 14px 14px 21px 0px;
    color: #349af9;
}

.card-margin {
    margin: 0 3%;
}

.card-img>img {
    width: 100%;

}

.card-title {
    padding-left: 10px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 38px;
    color: var(--color-blue);
}

.card-discription {
    margin-top: 13px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 32px;
    color: var(--color-yelow);
}

.main {
    text-align: center;
}

.constanta {
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 63px;
    margin-bottom: 10px;
}

.text-gradient {
    margin-left: 380px;
    text-align: center;
    width: 592px;
    height: 7px;
    background: linear-gradient(to right, blue 0%, rgb(11, 11, 237) 100%);
}

.map {
    text-align: center;
    margin-top: 45px;
}

.btn {
    border: 1px solid #2A61F0;
    background-color: #2A61F0;
    width: 499px;
    margin-top: 13px;
    border-radius: 55px;

}

.btn-link {
    font-weight: 700;
    font-size: 4rem;
    line-height: 101px;
    color: white;
    display: block;
}

.footer {
    width: 1440px;
    text-align: center; 
    background: linear-gradient(to top, #0D0661 0%, #013235 100%);
}

.footer-title {
    margin-bottom: 10px;
}

.contact {
    color: #A89D9D;
}

.mail,
.phone {
    margin-bottom: 10px;
}

.facebook-margin {
    margin-left: 10px;
    margin-right: 10px;
}